<tr id="<%= dom_id(tracked_gh_user) %>">
  <td><%= tracked_gh_user.username %></td>
  <td>
    <% tracked_gh_user.tags.to_a.each do |tag| %>
      <span class="tag"><%= tag %></span>
    <% end %>
  </td>
  <td title="<%= tracked_gh_user.scrape_last_requested_at&.to_fs(:long) %>">
    <%= time_ago_in_words(tracked_gh_user.scrape_last_requested_at) + " ago" if tracked_gh_user.scrape_last_requested_at %>
  </td>
  <td title="<%= tracked_gh_user.scrape_last_completed_at&.to_fs(:long) %>">
    <%= time_ago_in_words(tracked_gh_user.scrape_last_completed_at) + " ago" if tracked_gh_user.scrape_last_completed_at %>
  </td>
  <td><%= scrape_status_badge(tracked_gh_user) %></td>
  <td>
    <% recently_requested = tracked_gh_user.scrape_last_requested_at && tracked_gh_user.scrape_last_requested_at > 5.minutes.ago %>
    <%= button_to "Scrape", 
        scrape_admin_tracked_gh_user_path(tracked_gh_user), 
        class: "button small",
        form: { data: { turbo: true } },
        disabled: recently_requested?(tracked_gh_user) %>
  </td>
</tr> 